{% extends "usuario/base.html" %}
{% block estilos %}


.flex_products{
    justify-content: space-around;
    display: block;
}


.img_producto{
    width: 100%;

}


.producto{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    max-width: 500px;
}
.producto span{
    font-weight: bold;
}
    

{% endblock estilos %}

{% block contenido %}

<h1>Lista de Celulares</h1>
    


{% for celular in celulares %}
<main class="container-fluid">
    

    <div class="flex_products row" >
       
        <article class="producto col-xl-3 col-md-6 col-sm-12 align-items-center" >
            <img class="img_producto" src="{{celular.imagen.url}}" alt="">
                <div>
                    <span>{{celular.modelo}}</span>
                    <a  class="btn btn-primary" href="{% url 'ver_celular' celular.id %}">Ver más</a>
                    {% if user.id == celular.usuario.id %}
                    <a  class="btn btn-success" href="{% url 'editar_celular' celular.id %}">Editar</a>
                    <a  class="btn btn-danger" href="{% url 'eliminar_celular' celular.id %}">Eliminar</a>
                    {% endif %}
                </div>
        </article>
    </div>
    
</main>
<br>
{% endfor %}



{% endblock contenido %}