{% extends "usuario/base.html" %}
{% block subtitulo%}Celulares {% endblock subtitulo %}
{% block buscar %}  
<div class="input-group mb-3" style="box-sizing: border-box;">
    <form action="{% url 'buscar_celular' %}" method="post" class="d-flex" role="search" style="display: flex;">
        {% csrf_token %}
        <input type="text" name="busqueda" placeholder="Buscar Celular" class="form-control me-2">
        <input type="submit" value="Buscar" class="btn btn-outline-success">
      </form>
      <br>
  
  </div>
{% endblock buscar%}

{% block estilos %}





.img_producto{
    width: 100%;
    height: 380px;


}


.producto{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    max-width: 500px;
    justify-content: space-around;
}
.producto span{
    font-weight: bold;
}
    

{% endblock estilos %}

{% block contenido %}

<h1>Smartphones y Celulares</h1>
<br>
{% if  celulares|length == 0  %}
<h4><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAgBJREFUSEvNloEtREEQhv+rABWgAnRABagAFaACVIAKUMFRASpABZRABeRLdi7z9nZvZy+Su0lecrk3b7+Zf3ZndqQF2WhBXM0D3pW0Imk7Bf0u6VvSa08SUTCQU0kHklYrAOCPkq4kfbWCaIGBXEs6bi2Uvb+XdJ6UKH46C0yWY0kb7ssHSS+SkJcHw48HNfadL+9PnN8ggBqYhZ6drE+SzgISEuSNCwD590rwEhh531ymSMZiPUaQlAgjc+AEMbESmPocJY8alOC2ks9HpZYeTokG+yQHIzHZYshL3UrGkaIUGNlQ95Kxy63um75UOdhnO3DMVo2Cqfln+naQdQ6mDjSHKWkyMFLnDaS2Byxr1l4zJw/2WXAMyP4/jNre5WXxYOrJucV2aucvvY9sLgva75vD1N0GvfpS0kXybnW0aI0N/pt+0E7hLAe4R+qejJtS92yuHnBzcyG9HadZzQO/HrAdpx8/Upemgfh6ECnbv2TRjMMtE0h0SLQ6V9eQAExzYJStp1RZ4LazhXko0wuFmmMRBtkwcejbGJIxIlt3KYYCc9imGhsKqN1WJvG3rj4ALXMLgP/Iwl99mM3A/BjFh6M0Bc07V0lNZOf2YReDqOJMN+QeyOs/bvVk80VCeiwZmfx5EMiKGvi1SjL3hb40j2u3kKJK0YyjEof9Fgb+A1zYiB+sqF/sAAAAAElFTkSuQmCC"/>No hay nada aquí aún</h4>
{% else %}
    <div class="container text-center">
        <div class="row">
                {% for celular in celulares %}
                <div class="producto col-sm-4 align-items-center">
                    <div class="card-body">
                    <img class="img_producto" src="{{celular.imagen.url}}" alt="">
                    <span>{{celular.modelo}}</span>
                    <br>
                    <hr>

                    <a  class="btn btn-primary" href="{% url 'ver_celular' celular.id %}">Ver más</a>
                        {% if user.id == celular.usuario.id %}
                        <a  class="btn btn-success" href="{% url 'editar_celular' celular.id %}">Editar</a>
                        <a  class="btn btn-danger" href="{% url 'eliminar_celular' celular.id %}">Eliminar</a>
                
                    <br>
                    <br>
                    <br>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

{% endif %}



{% endblock contenido %}