{% extends "usuario/base.html" %}
{% block subtitulo%} Eliminar Heladera {% endblock subtitulo %}
{% block contenido %}
<div class="container text-center">

  <form method="post">{% csrf_token %}
      <h4>Estás seguro(a) que deseas borrar la Heladera {{heladera.marca}} {{heladera.modelo}} ?</h4>
      <p>
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a href="{% url 'heladeras'%}" class="btn btn-primary">Cancelar</a>
      </p>
  </form>
  
  </div>

{% endblock contenido %}