{% extends "usuario/base.html" %}
{% block subtitulo%} Editar Celular {% endblock subtitulo %}
{% block estilos %}
login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, .1);
}

.login .title {
  color: rgb(30, 30, 30);
  font-size: 18px;
  font-weight: bold;
  margin: 30px auto 20px;
}

.login input {
  width: 300px;
  border-radius: 4px;
  margin: 10px auto;
  padding: 11px 15px;
  background-color: rgb(245, 245, 245);
  outline: none;
  border: 1px solid rgb(0, 0, 0, 0);
  font-size: 15px;
  color: rgb(30, 30, 30);
  transition: .3s;
}
.login input::placeholder {
  color: rgb(200, 200, 200);
}
.login input:hover {
  background-color: #F1EFF1;
}
.login input:focus {
  background-color: #fff;
  border: 1px solid rgb(87, 126, 219);
  box-shadow: 0 0 4px 2px rgb(50, 50, 50, .1);
}
.login input:valid {
  border: 1px solid rgb(220, 220, 220);
}

.login button {
  border-radius: 4px;
  background-color: rgb(87, 126, 219);
  height: 45px;
  padding: 12px;
  width: 260px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  transition: .3s;
}
.login button:hover {
  background-color: #3A6DD8;
}
.login button i {
  font-size: 16px;
}

.login .buttonShadow {
  background-color: #fff;
  color: rgb(100, 100, 100);
  border: 1px solid rgb(50, 50, 50, .1);
}
.login .buttonShadow:hover {
  background-color: rgb(50, 50, 50, .2);
}

.login a {
  text-decoration: none;
  color: rgb(160, 160, 160);
  font-size: 12px;
}

.login .text {
  font-size: 15px;
  margin: 40px auto 0;
  color: rgb(20, 20, 20);
}

@media only screen and (max-width: 830px) {

  .login > div {
      border-radius: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      overflow: auto;
      box-shadow: none;
  }

}
   
    

{% endblock estilos %}


{% block contenido %}
{% if user.id == celular.usuario.id %}



<div class="login" >
  <div class="form-group">
    <form method="post" enctype="multipart/form-data" style="text-align: center;" >
      <h1>Editar Celular</h1>
      <hr>
      {% csrf_token %}
      {{ form.as_p }}
      <div style="text-align: center;">
        <button type="submit" value="Enviar" class="buttonShadow" >Enviar</button>
      </div>
      
    </form>

  </div>
</div>

<br>
<a href="{% url 'celulares' %}" class=" btn btn-primary">Volver lista</a>

{% else %}
<div class="container">
<h4>No tienes acceso a esta pagina!</h4>
</div>
{% endif %}

{% endblock contenido %}