{% extends "usuario/base.html" %}
{% block subtitulo%} Notebooks {% endblock subtitulo %}
{% block buscar %}  
<div class="input-group mb-3" style="box-sizing: border-box;">
    <form action="{% url 'buscar_notebook' %}" method="post" class="d-flex" role="search" style="display: flex;">
        {% csrf_token %}
        <input type="text" name="busqueda" placeholder="Buscar Notebook" class="form-control me-2">
        <input type="submit" value="Buscar" class="btn btn-outline-success">
      </form>
      <br>
  
  </div>
{% endblock buscar%}

{% block estilos %}





.img_producto{
    width: 100%;

}


.producto{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    max-width: 500px;
    justify-content: space-around;
}
.producto span{
    font-weight: bold;
}
    

{% endblock estilos %}



{% block contenido %}
<h1>Notebooks</h1>
<br>
<div class="container text-center">
    <div class="row">
            {% for notebook in notebooks %}
            
            <div class="producto col-sm-4 align-items-center">
                <div class="card-body">
                <img class="img_producto" src="{{notebook.imagen.url}}" alt="">
                <span>{{notebook.modelo}}</span>
                <hr>
                <a  class="btn btn-primary" href="{% url 'ver_notebook' notebook.id %}">Ver más</a>
                    {% if user.id == notebook.usuario.id %}
                    <a  class="btn btn-success" href="{% url 'editar_notebook' notebook.id %}">Editar</a>
                    <a  class="btn btn-danger" href="{% url 'eliminar_notebook' notebook.id %}">Eliminar</a>
               
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}







        
{% endblock contenido %}