{% extends "usuario/base.html" %}
{% block subtitulo%} Ayuda{% endblock subtitulo %}

{% block estilos %}


    

{% endblock estilos %}



{% block contenido %}
<h1>Instrucciones de uso de la Tienda</h1>

<ul>
    <li>Al ingresar a la tienda tendrá acceso a todos los artículos publicados en la misma.</li>
    <li>Si quiere publicar algún artículo deberá crear un usuario e iniciar sesión presionando en "Registro" y si ya tiene uno simplemente en "Iniciar Sesión".</li>
    <li>Con respecto al usuario, este podrá editar sus datos y a su vez tendrá la opción de agregar un avatar al mismo. </li>
    <li>Una vez iniciada la Sesión podrá publicar artículos, editarlos y eliminarlos (Siempre y cuando estos le pertenezcan al usuario).</li>
</ul>
        
{% endblock contenido %}