{% extends "usuario/base.html" %}
{% block subtitulo%}Inicio {% endblock subtitulo %}


{% block contenido %}

<h1>Bienvenido a la Tienda, {{ request.user.first_name }} </h1>


<a class="btn btn-primary" href="{% url 'publicar_celular'%}" >Vender celu</a>
<a class="btn btn-primary" href="{% url 'publicar_notebook'%}" >Vender Notebook</a>
<a class="btn btn-primary" href="{% url 'publicar_televisor'%}" >Vender TV</a>
<a class="btn btn-primary" href="{% url 'publicar_heladera'%}" >Vender Heladera</a>
<a class="btn btn-primary" href="{% url 'publicar_lavarropa'%}" >Vender Lavarropas</a>


{% endblock contenido %}
